
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登山</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/pYan.css">

</head>
<body>
<!--页头-->
<%-include('common/header.ejs')%>
<!--页头结束-->

<!--内容-->
<section class="clearfix">

    <!--筛选列表-->
    <div class="list">
        <ul>
            <hr>
            <li class="listMenu">
                <div class="listActive">
                    <span >分类</span><span class="iconfont right">-</span>
                </div>
                <ul class="listSub">
                    <form action="">
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check1"><label for="check1">登山包</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check2"><label for="check2">鞋子</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check3"><label for="check3">登山杖</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check4"><label for="check4">眼镜</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check5"><label for="check5">手套</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check6"><label for="check6">护膝</label>
                        </a>
                    </li>
                    </form>
                </ul>
            </li>
            <hr>
            <li class="listMenu">
                <div class="listActive">
                    <span>性别</span><span class="iconfont right">-</span>
                </div>
                <ul class="listSub">
                    <form action="">
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check11"><label for="check11">男装</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check12"><label for="check12">女装</label>
                        </a>
                    </li>
                    </form>
                </ul>
            </li>
            <hr>
            <li class="listMenu">
                <div class="listActive">
                    <span>价钱</span><span class="iconfont right">-</span>
                </div>
            </li>
            <hr>
            <li class="listMenu">

                <div class="listActive">
                    <span>主要材料</span><span class="iconfont right">-</span>
                </div>
                <ul class="listSub">
                    <form action="">
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check13"><label for="check13">聚碳酸酯</label>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <input type="checkbox" id="check14"><label for="check14">ABS+PC EPS</label>
                        </a>
                    </li>
                </form>
                </ul>
            </li >
            <hr>
            <li class="listMenu">
                <div class="listActive">
                    <span>颜色系列</span><span class="iconfont right">-</span>
                </div>
            </li>
        </ul>

    </div>
    <!--商品列表-->
    <div class="goods">
        <div class="goodsBottom">
            <div class="ab">
                <p class="goodsOder">排序方式:&nbsp;<span class="tHuan">位置</span>&nbsp;<span class="iconfont">&#xe61b;</span> </p>
                <a href="#">DESC</a>
                <ul class="seat">
                    <li>位置</li>
                    <li>产品名称</li>
                    <li>价钱</li>
                </ul>
            </div>
        </div>

        <!--登山包-->
        <div class="more" id="dengShanBao">
            <a href="#">登山包</a>
            <a href="#"  data-toggle="modal" data-target="#tKui">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dsbao.html">
                        <div class="img">
                            <img src="../images/dShan/dShanBao/pic1/1.png" alt="">
                        </div>
                        <p class="fontColor">登山包</p>
                        <hr>
                        <p class="copy-xsmall">￥900.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsbao.html">
                        <div class="img">
                            <img src="../images/dShan/dShanBao/pic1/2.png" alt="">
                        </div>
                        <p class="fontColor">登山包</p>
                        <hr>
                        <p class="copy-xsmall">￥900.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsbao.html">
                        <div class="img">
                            <img src="../images/dShan/dShanBao/pic1/3.png" alt="">
                        </div>
                        <p class="fontColor">登山包</p>
                        <hr>
                        <p class="copy-xsmall">￥900.00</p>
                    </a>
                </li>

            </ul>
        </div>


        <!--眼镜-->
        <div class="more" id="dengShanYanJing">
            <a href="#">眼镜</a>
            <a href="#" data-toggle="modal" data-target="#aQuanSuo">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dsyjing1.html">
                        <div class="img">
                            <img src="../images/dShan/yJing/pic2/1.png" alt="">
                        </div>
                        <p class="fontColor">眼镜</p>
                        <hr>
                        <p class="copy-xsmall">￥600.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsyjing.html">
                        <div class="img">
                            <img src="../images/dShan/yJing/pic2/6.png" alt="">
                        </div>
                        <p class="fontColor">眼镜</p>
                        <hr>
                        <p class="copy-xsmall">￥600.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsyjing.html">
                        <div class="img">
                            <img src="../images/dShan/yJing/pic1/1.png" alt="">
                        </div>
                        <p class="fontColor">眼镜</p>
                        <hr>
                        <p class="copy-xsmall">￥600.00</p>
                    </a>
                </li>

            </ul>
        </div>


        <!--登山杖-->
        <div class="more" id="dengShanZhang">
            <a href="#">登山杖</a>
            <a href="#" data-toggle="modal" data-target="#aQuanDai">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dszhang.html">
                        <div class="img">
                            <img src="../images/dShan/dShanZhang/pic1/4.png" alt="">
                        </div>
                        <p class="fontColor">登山杖</p>
                        <hr>
                        <p class="copy-xsmall">￥800.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dszhang.html">
                        <div class="img">
                            <img src="../images/dShan/dShanZhang/pic1/5.png" alt="">
                        </div>
                        <p class="fontColor">登山杖</p>
                        <hr>
                        <p class="copy-xsmall">￥800.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dszhang1.html">
                        <div class="img">
                            <img src="../images/dShan/dShanZhang/pic1/6.png" alt="">
                        </div>
                        <p class="fontColor">登山杖</p>
                        <hr>
                        <p class="copy-xsmall">￥800.00</p>
                    </a>
                </li>

            </ul>
        </div>



        <!--登山鞋-->
        <div class="more" id="dengShanXie">
            <a href="#">登山鞋</a>
            <a href="#" data-toggle="modal" data-target="#pYanXie">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dsxie.html">
                        <div class="img">
                            <img src="../images/dShan/dShanXie/pic2/5.png" alt="">
                        </div>
                        <p class="fontColor">登山鞋</p>
                        <hr>
                        <p class="copy-xsmall">￥2500.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsxie.html">
                        <div class="img">
                            <img src="../images/dShan/dShanXie/pic2/6.png" alt="">
                        </div>
                        <p class="fontColor">登山鞋</p>
                        <hr>
                        <p class="copy-xsmall">￥2500.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsxie1.html">
                        <div class="img">
                            <img src="../images/dShan/dShanXie/pic2/7.png" alt="">
                        </div>
                        <p class="fontColor">登山鞋</p>
                        <hr>
                        <p class="copy-xsmall">￥2500.00</p>
                    </a>
                </li>

            </ul>
        </div>



        <!--护膝-->
        <div class="more" id="dengShanHuXi">
            <a href="#">护膝</a>
            <a href="#" data-toggle="modal" data-target="#pYanShen">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dshxi.html">
                        <div class="img">
                            <img src="../images/dShan/hXi/pic1/1.png" alt="">
                        </div>
                        <p class="fontColor">护膝</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dshxi.html">
                        <div class="img">
                            <img src="../images/dShan/hXi/pic1/2.png" alt="">
                        </div>
                        <p class="fontColor">护膝</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dshxi.html">
                        <div class="img">
                            <img src="../images/dShan/hXi/pic1/3.png" alt="">
                        </div>
                        <p class="fontColor">护膝</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>


            </ul>
        </div>

        <!--手套-->
        <div class="more" id="dengShanShouTao">
            <a href="#">手套</a>
            <a href="#" data-toggle="modal" data-target="#sTao">更多</a>
        </div>
        <div class="goodsList">
            <ul class="clearfix">
                <li class="active textActive">
                    <a href="dsstao1.html">
                        <div class="img">
                            <img src="../images/dShan/sTao/pic2/5.png" alt="">
                        </div>
                        <p class="fontColor">手套</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsstao1.html">
                        <div class="img">
                            <img src="../images/dShan/sTao/pic2/6.png" alt="">
                        </div>
                        <p class="fontColor">手套</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>
                <li class="active textActive">
                    <a href="dsstao1.html">
                        <div class="img">
                            <img src="../images/dShan/sTao/pic2/8.png" alt="">
                        </div>
                        <p class="fontColor">手套</p>
                        <hr>
                        <p class="copy-xsmall">￥400.00</p>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</section>
<!--内容结束-->

<!--尾部-->
<%-include('common/foot.ejs')%>

<!--尾部结束-->

<!--登山包模态-->
<div class="modal fade bs-example-modal-lg" id="tKui" tabindex="-1" role="dialog" aria-labelledby="tKui_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="tKui_title">登山包</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">

                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic1/4.png" alt="">
                            </div>
                            <p class="fontColor ">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic1/5.png" alt="">
                            </div>
                            <p class="fontColor">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic1/6.png" alt="">
                            </div>
                            <p class="fontColor">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic2/1.png" alt="">
                            </div>
                            <p class="fontColor">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic2/2.png" alt="">
                            </div>
                            <p class="fontColor">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsbao1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanBao/pic2/3.png" alt="">
                            </div>
                            <p class="fontColor">登山包</p>
                            <hr>
                            <p class="copy-xsmall">￥900.00</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--眼镜模态-->

<div class="modal fade bs-example-modal-lg" id="aQuanSuo" tabindex="-1" role="dialog" aria-labelledby="aQuanSuo_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="aQuanSuo_title">眼镜</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing1.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic1/1.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing1.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic1/4.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic1/5.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic1/6.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing1.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic1/7.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsyjing1.html">
                            <div class="img">
                                <img src="../images/dShan/yJing/pic2/1.png" alt="">
                            </div>
                            <p class="fontColor">眼镜</p>
                            <hr>
                            <p class="copy-xsmall">￥600.00</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!--登山杖模态-->
<div class="modal fade bs-example-modal-lg" id="aQuanDai" tabindex="-1" role="dialog" aria-labelledby="aQuanDai_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="aQuanDai_title">登山杖</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">
                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic1/7.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic1/8.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic2/5.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic2/6.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic1/7.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dszhang.html">
                            <div class="img">
                                <img src="../images/dShan/dShanZhang/pic1/8.png" alt="">
                            </div>
                            <p class="fontColor">登山杖</p>
                            <hr>
                            <p class="copy-xsmall">￥800.00</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!--登山鞋模态-->
<div class="modal fade bs-example-modal-lg" id="pYanXie" tabindex="-1" role="dialog" aria-labelledby="pYanXie_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="pYanXie_title">登山鞋</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic1/1.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic1/1.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic1/2.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic2/9.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic2/8.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsxie1.html">
                            <div class="img">
                                <img src="../images/dShan/dShanXie/pic2/7.png" alt="">
                            </div>
                            <p class="fontColor">登山鞋</p>
                            <hr>
                            <p class="copy-xsmall">￥2500.00</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--护膝模态-->
<div class="modal fade bs-example-modal-lg" id="pYanShen" tabindex="-1" role="dialog" aria-labelledby="sTao_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="pYanShen_title">护膝</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">
                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi1.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic2/5.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi1.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic2/6.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi1.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic2/7.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic1/1.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic1/2.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dshxi.html">
                            <div class="img">
                                <img src="../images/dShan/hXi/pic1/3.png" alt="">
                            </div>
                            <p class="fontColor">护膝</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<!--手套模板-->

<div class="modal fade bs-example-modal-lg" id="sTao" tabindex="-1" role="dialog" aria-labelledby="sTao_title" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="sTao_title">手套</h4>
            </div>
            <div class="modal-body">

                <ul class="clearfix">
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao1.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic2/5.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao1.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic2/6.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic2/8.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic1/1.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>

                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic1/2.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>
                    <li class="active textActive col-md-4 text-center">
                        <a href="dsstao.html">
                            <div class="img">
                                <img src="../images/dShan/sTao/pic1/3.png" alt="">
                            </div>
                            <p class="fontColor">手套</p>
                            <hr>
                            <p class="copy-xsmall">￥400.00</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="../jquery/jquery-3.1.1.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../js/header.js"></script>
<script src="../js/foot.js"></script>
<script src="../js/classify.js"></script>
</body>
</html>

