/*!*联系方式*!*/
.contact{
    position: absolute;
    top:433px;
    right:65px;
    padding-top:30px;
    height:365px;
    width:305px;
    outline:1px solid rgb(31,29,29);
    color:#333333;
    background-color: #ffffff;
}

.theme{
    margin:0px 22px;
    letter-spacing: 3px;
}

.phoneSection,.addressSection{
    font-size:14px;
    margin:40px 22px;
    line-height: 25px;
    letter-spacing: 1px;
}

/*按钮hover样式*/
.butHoverCss{
    --color: #fff;
    --hover: rgb(0,140,168);
}
.butHoverCss:hover, .butHoverCss:focus {
    border-color: var(--hover);
    color: #fff;
    box-shadow: inset 18em 0 0 0 var(--hover);
}
.butHoverCss{
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background-color:rgb(31,29,29) ;
    width:164px;
    padding-left:60px;
    height:50px;
    margin:40px auto;
    line-height: 50px;
}