<footer>
    <img src="../images/index/foot1.png" alt="" id="backHead">
    <div class="ulD ulD1">
        <h6>商店</h6>
        <ul>
            <li><a href="skill.html">滑雪</a></li>
            <li><a href="climb.html">攀岩</a></li>
            <li><a href="moutain.html">登山</a></li>
            <li><a href="hike.html">徒步旅行</a></li>
            <li><a href="run.html">高山跑步</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>社区</h6>
        <ul>
            <li><a href="404.html">关于极道</a></li>
            <li><a href="Blog.html">博客</a></li>
            <li><a href="activitiy.html">活动</a></li>
            <li><a href="person.html">运动员</a></li>
            <li><a href="friend.html">伙伴</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>支持</h6>
        <ul>
            <li><a href="Repair.html">保修和维护</a></li>
            <li><a href="service.html">服务中心</a></li>
            <li><a href="privateOrder.html">私人订制</a></li>
            <li><a href="storeMap.html">门店地图</a></li>
            <li><a href="question.html">常见问题</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>联系</h6>
        <p>POLEWAY CHINA，Inc
            3550 Frontier Avenue Unit E
            Boulder，Colorado 80301 USA
            303-998-2895</p>
        <span class="iconfont">&#xe62a;</span>
        <span class="iconfont">&#xeef9;</span>
        <span class="iconfont">&#xe62c;</span>
    </div>
    <div id="lastD">
        <ul>
            <li><a href="404.html">资源库</a></li>
            <li><a href="404.html">专业计划</a></li>
            <li><a href="404.html">专业申请</a></li>
            <li><a href="404.html">送货政策</a></li>
            <li><a href="404.html">隐私政策</a></li>
            <li><a href="404.html">使用条款</a></li>
            <li><a href="404.html">网站地图</a></li>
        </ul>
        <p>&copy; 2018 POLEWAY CN, Inc. All rights reserved.</p>
        <img src="../images/logoW.png" alt="">
    </div>
</footer>